<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xinkuai.globalsdk.sample">

    <application
        android:name=".App"
        android:allowBackup="false"
        android:fullBackupContent="@xml/appsflyer_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute"
        tools:replace="android:supportsRtl">

        <activity android:name="com.xinkuai.globalsdk.sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--新快海外版SDK配置开始-->

        <!--新快SDK AppId-->
        <meta-data
            android:name="XK_APP_ID"
            android:value="17" />

        <!--新快SDK AppKey-->
        <meta-data
            android:name="XK_APP_KEY"
            android:value="drmx8my9cm8fzwqic38kzbavvtvablw7" />

        <!--Google AppId-->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2531509893280386~1791831965" />

        <!--Facebook AppId-->
        <!--TODO 注意加上fb前缀-->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="fb3259135394106116" />

        <!--Facebook Share config-->
        <!--TODO authorities末尾数字是Dacebook AppId-->
        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider3259135394106116"
            android:exported="true" />

        <!--AppsFlyer DevKey-->
        <meta-data
            android:name="AF_DEV_KEY"
            android:value="ptSUTTfmhHBsokMbu37i5" />

        <!--新快海外版SDK配置结束-->


    </application>

</manifest>